

{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 


<br>
<body style="background-color: pink">
 

<div class="navbar">
   
  <form method="POST" action="/logout">
            <input type="submit"  style="color: black;font-size: 20px;margin-left: 1200px" value="LOG OUT">

  </form>
</div>
 <br>
<br>
<a href="{{ url_for('elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
  <button style="background-color: gold;margin-left: 400px;font-size: 20px;color: black">ELECTRONICS  </button>
</a>
<a href="{{ url_for('non_elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
  <button style="background-color: gold;margin-left: 600px;font-size: 20px;color: black">DAILY ESSENTIALS </button>
</a>
<br>
<br>



<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>



</body>
<h1 style="text-align: center;color: brown">ITEM SUCCESSFULLY DELETED , THIS IS YOUR NEW CART..

 <br>
 {% if total==0: %}
  
 CART IS EMPTY !!!!!!!!......................
<br>
{% endif %}
<br>
<br>
<br>
........................YOUR TOTAL amount is =  Rs. {{ total }}
</h1>


{% for r in games_cart %}


<h3 style="margin-left: 230px;">{{ r.id }}</h3><img src="{{ url_for( 'static' , filename=r.img_key ) }}" width="400" height="240" style="margin-left: 250px ">
<h2 style="margin-left: 250px;">{{ r.name }} , {{ r.cost }}/- </h2>

<br>
<a href="{{ url_for('delete_item', id=r.id, acc_no=acc_no ) }}" style="color:green;font-size: 25px">
  <button style="background-color: green;margin-left: 400px;font-size: 20px">DELETE!!  </button>
</a>
<br>

{% endfor %}


<br>

<br>


<h1 style="text-align: center;color: brown">
<br>
.............................YOUR TOTAL amount is =  Rs. {{ total }}
</h1>



{% include "footer.html" %}
{% endblock %}