

{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 




<br>
<body style="background-color: lightblue">
<a name="top"></a>
<br>
 
<div class="navbar">
	 
	<form method="POST" action="/logout">
						<input type="submit"  style="color: black;font-size: 20px;margin-left: 1200px" value="LOG OUT">

	</form>
</div>


<br>
<a href="{{ url_for('cart', id=-1, acc_no=acc_no ) }}" style="color:green;font-size: 25px">
	<button style="background-color: green;margin-left: 1200px;font-size: 20px">CART !	</button>
</a>
<br>


<p style="font-size:60px;text-align: center;">HOME ESSENTIALS</p>

<p style="font-size:50px;margin-left: 90px;">Choose our products....


<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

{% for i in results %}

{% if i.id <= 4: %}
<h3 style="margin-left: 230px;">{{ i.id }},</h3><img src="static/{{ i.img_key }}" width="400" height="240" style="margin-left: 250px ">
<h2 style="margin-left: 250px;">{{ i.name }} , {{ i.cost }}/- </h2>


<a href="{{ url_for('cart', id=i.id, acc_no=acc_no ) }}" style="color:green;font-size: 25px">
	<button style="background-color: green;margin-left: 400px;font-size: 20px">BUY NOW!!	</button>
</a>
<br>
<br>

<br>

{% endif %}
{% endfor %}
<br>

<br>

<br>
<br>
<br>
<br>
<br>
<a href="{{ url_for('elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
	<button style="background-color: gold;margin-left: 1000px;font-size: 20px;color: black">ELECTRONICS	</button>
</a>
<br>


{% include "footer.html" %}

{% endblock %}