{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 

<!DOCTYPE html>
<html>
<body style="background-color: lightblue">

<div style="margin-left: 200px">

<br>
<p style="margin-left: 180px; font-size: 40px;"> Welcome shoppers!!!!...</p>
<br>
<br>
<p style="font-size: 30px;">  Please sign Up, if you are new to the page..</p>
<div class="navbar">
	
	<form method="POST" action="/sign_up">
						<input style="font-size: 30px;margin-left: 150px;color: black" type="submit" value="sign_up">

	</form>
</div>
<br>
<br>
<p style="font-size: 30px;">Sign In, if you have already signed up!!!!....</p>
<div class="navbar">
	 
	<form method="POST" action="/sign_in">
						<input type="submit"  style="font-size: 30px;margin-left: 150px;color: black" value="sign_in">

	</form>
</div>


<br>
</div>
</body>
</html>

<br>
<br>
<br>

{% include "footer.html" %}

{% endblock %}